.col-md-12
  .jumbotron
    %h1 Organizer
    %p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis ab quasi esse minima vel fuga quaerat placeat ipsum neque? Debitis?
    %p= link_to "Utwórz konto", new_account_path, class: "btn btn-primary btn-lg"

